// Fuentes
$fuente_principal: 'Rubik', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #E3371E;
$secundario: #FF7A48; 
$terciario: #0593A2; 
$cuarto: #103778; 
$quinto: #151F30; 
$negro: #000;
$blanco: #FFF;
$gris: #747F7F;
$grisOscuro: #393e3e;
$grisClaro: #B2BEBF;
$clarito: #C4F4F4;


$separacion: 5rem;
