@use '../../base/mixins' as m;
@use '../../base/variables' as v;

.carrito{
    &__total{
        color: v.$quinto;
        font-weight: 600;
        font-size: 4rem;
        margin: 0 0 v.$separacion;
        text-align: center;
        @include m.desktop{
            margin: 0;
        }
    }
    &__boton{
        display: block;
        width: 33%;
        margin: 0 auto v.$separacion;
        &:hover{
            background-color: v.$quinto;
        } 
    }
    &__finalizar{
        display: flex;
        flex-direction: row-reverse;
        flex-basis: 1;
        justify-content: space-between;
        align-items: center;
    }
    &__comprar{
        padding: 2rem 8rem;
        font-size: 5rem;
        display: block;
        margin: 0 auto;
        &:hover{
            background-color: v.$terciario;
        } 
    }
    &__menuPrincipal{
        
        @include m.desktop{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    } 
}

